fastapi
pydantic
uvicorn
motor
pymongo
python-dotenv
httpx
requests
python-multipart
PyPDF2
python-docx
cloudinary
openai
PyJWT
bcrypt==4.2.1
pillow==10.4.0
stripe==11.5.0
pycryptodome==3.21.0
bce-python-sdk==0.9.29
moviepy==2.1.2
flask==3.0.2
flask-cors==5.0.0
Werkzeug==3.0.1