fastapi
pydantic
uvicorn
motor
pymongo
python-dotenv
httpx
requests
python-multipart
PyPDF2
python-docx
cloudinary
openai
PyJWT
bcrypt==4.2.1
stripe==11.5.0
pycryptodome==3.21.0
bce-python-sdk==0.9.29
moviepy==2.1.2
flask==3.0.2
flask-cors==5.0.0
Werkzeug==3.0.1
elevenlabs
pyotp==2.9.0
qrcode==7.4.2
pillow==10.2.0

# Social Authentication
google-auth>=2.22.0
facebook-sdk>=3.1.0
aiohttp